body {
  background: #f3f3f3;
  font-size: 14px;
  min-height: 100vh;
  padding-bottom: 60px;
}

.songs {
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-top: 16px;
  position: relative;
}

.playlist,
.player {
  padding: 16px 16px 18px;
}

@media (max-width: 767px) {
  .playlist {
    padding-top: 0;
  }
}

.playlist__title {
  color: #eaeaea;
  font-size: 15px;
  margin-bottom: 16px;
}

.playlist__list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 5px;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .playlist__list {
    padding: 0;
  }
}

.playlist__list li {
  color: #eeeeee;
  padding: 0 12px;
  transition: color ease-in-out .3s;
}

@media (min-width: 992px) {
  .playlist__list li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .playlist__list li {
    padding: 0;
  }
}

.playlist__list li span {
  cursor: pointer;
}

.playlist__list li span:hover {
  color: #aaa;
}

.playlist__list li:not(:last-child) {
  margin-bottom: 8px;
}

.playlist__list li.active {
  font-weight: 700;
}

.track-thumb {
  border-radius: 50%;
  height: 220px;
  margin: 16px auto;
  position: relative;
  width: 220px;
}

.track-thumb a {
  position: relative;
  z-index: 2;
}

.track-thumb.play::after {
  background: url("../img/playing.gif") no-repeat;
  background-size: 18px;
  bottom: 5px;
  content: '';
  display: block;
  height: 18px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 18px;
  z-index: 2;
}

.track-thumb.play img {
  animation: spin 15s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.track-thumb__img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.track-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.track-details__title {
  color: #f1f1f1;
  font-size: 17px;
  font-weight: 500;
}

.track-details__artist {
  color: #c1c1c1;
  font-size: 13px;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.controls__icon {
  color: #f9f9f9;
  cursor: pointer;
  font-size: 20px;
  margin: 0 12px;
}

.controls__icon i {
  transition: opacity .3s ease;
}

.controls__icon:hover i {
  opacity: .6;
}

.controls__play,
.controls__pause {
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

.controls__play .icons,
.controls__pause .icons {
  line-height: 0;
}

.player .controls__pause .icons {
  padding-right: 1px;
}

.controls__loop.looped,
.controls__loopall.looped,
.controls__shuffle.shuffled {
  color: #62adfd;
}

.controls__volume {
  position: relative;
}

.controls__volume-body {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  bottom: 30px;
  box-shadow: 0px 0px 0px 1px rgba(170, 170, 170, 0.25);
  height: 120px;
  left: -5px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all .3s ease;
  visibility: hidden;
  width: 25px;
  z-index: 10;
}

.controls__volume-body:after {
  background: transparent;
  bottom: -10px;
  content: '';
  height: 30px;
  position: absolute;
  width: 25px;
  z-index: -1;
}

.controls__volume:hover .controls__volume-body {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.controls__volume-inner {
  bottom: 8px;
  height: calc(100% - 30px);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.controls__volume--range {
  background: #906231;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 6px;
}

.controls__volume--handle {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 15px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: background .2s ease;
  width: 15px;
}

.controls__volume--handle:hover {
  background: #aaa;
}

.controls__volume--handle:focus {
  outline: 0;
}

.controls__volume .icons.off::before{
  content: "\f3b9";
}

.tracker {
  cursor: pointer;
  height: 5px;
  position: relative;
  width: calc(100% - 10px);
}

.tracker--handle {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  top: -3px;
  width: 10px;
}

.tracker--handle:focus {
  outline: 0;
}

.tracker--range {
  background: #906231;;
  height: 100%;
  top: 0;
  transition: all ease-in-out .3s;
}

.duration {
  color: #f3f3f3;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 16px;
}

.songs-footer {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-style: italic;
  margin: 16px 0;
}

@media (max-width: 991px) {
  .songs-footer {
    flex-direction: column;
  }
}

.songs-footer__right {
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .songs-footer__right {
    margin-left: auto;
  }
}

.songs-footer__link {
  color: #444;
  display: inline-block;
  margin-left: 8px;
  transition: color 0.25s ease;
}

.songs-footer__link--twitter:hover {
  color: #1da1f2;
}

.songs-footer__link--rss:hover {
  color: #f26522;
}

.songs-footer__link--github:hover {
  color: #333;
}

.dropdown-menu {
  border-radius: 6px;
  min-width: 8rem;
}

.dropdown-menu__timmer {
  padding: 8px 16px;
}

.dropdown-menu__timmer .custom-control:not(:last-child) {
  margin-bottom: 8px;
}

.dropdown-menu__timmer .custom-control-label {
  cursor: pointer;
}

.fixed-player {
  background: #0c0501;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.fixed-player .dropdown-menu {
  bottom: 100%;
  top: auto;
}

.playlist__ribbon {
  height: 75px;
  left: -5px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  top: -5px;
  width: 200px;
  z-index: 1;
}

.playlist__ribbon > span {
  background: rgba(0, 123, 255, 0.7);
  box-shadow: 0 3px 10px -5px #000000;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: 700;
  left: -21px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  transform: rotate(-45deg);
  width: 100px;
}

.playlist__ribbon > span:after {
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 3px solid rgba(0, 123, 255, 0.7);
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
}

.playlist__ribbon > span:before {
  border-bottom: 3px solid transparent;
  border-left: 3px solid rgba(0, 123, 255, 0.7);
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(0, 123, 255, 0.7);
  content: "";
  left: 0;
  position: absolute;
  top: 100%;
  z-index: -1;
}
