body {
  background: #f3f3f3;
  font-size: 14px;
  min-height: 100vh;
}

.songs {
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-top: 16px;
}

.playlist,
.player {
  padding: 16px 16px 18px;
}

.playlist__title {
  color: #eaeaea;
  font-size: 15px;
  margin-bottom: 16px;
}

.playlist__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.playlist__list li {
  color: #eeeeee;
  padding: 0 12px;
  transition: color ease-in-out .3s;
}

@media (min-width: 992px) {
  .playlist__list li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.playlist__list li span {
  cursor: pointer;
}

.playlist__list li span:hover {
  color: #aaa;
}

.playlist__list li:not(:last-child) {
  margin-bottom: 8px;
}

.playlist__list li.active {
  font-weight: 700;
}

.track-thumb {
  height: 220px;
  margin: 16px auto;
  width: 220px;
}

.track-thumb.play {
  animation: spin 12s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.track-thumb__img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.track-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.track-details__title {
  color: #f1f1f1;
  font-size: 17px;
  font-weight: 500;
}

.track-details__artist {
  color: #c1c1c1;
  font-size: 13px;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.controls__icon {
  color: #f9f9f9;
  cursor: pointer;
  font-size: 18px;
  margin: 0 12px;
}

.controls__icon:hover i {
  opacity: .6;
  transition: all .3s ease;
}

.controls__play,
.controls__pause {
  font-size: 30px;
}

.controls__loop.looped,
.controls__loopall.looped {
  color: #62adfd;
}

.controls__volume {
  position: relative;
}

.controls__volume-body {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  box-shadow: 0px 0px 0px 1px rgba(170, 170, 170, 0.25);
  height: 120px;
  left: -3px;
  position: absolute;
  bottom: 30px;
  width: 20px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

.controls__volume-body:after {
  content: '';
  position: absolute;
  height: 30px;
  background: transparent;
  bottom: -10px;
  width: 20px;
  z-index: -1;
}

.controls__volume:hover .controls__volume-body {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.controls__volume-inner {
  height: calc(100% - 30px);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.controls__volume-body .ui-slider-range {
  background: #906231;
  position: absolute;
  bottom: 0;
  width: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.controls__volume-body .ui-slider-handle {
  background: #fff;
  cursor: pointer;
  display: block;
  height: 13px;
  width: 13px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.controls__volume-body .ui-slider-handle:focus {
  outline: 0;
}

.duration {
  color: #f3f3f3;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tracker {
  cursor: pointer;
  height: 5px;
}

.tracker .ui-slider-range {
  background: #00dbde;
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  height: 100%;
  top: 0;
  transition: all ease-in-out .3s;
}

.songs-footer {
  font-size: 18px;
  font-style: italic;
  margin: 16px 0;
  text-align: center;
}

.dropdown-menu__timmer {
  padding: 8px 16px;
}

.dropdown-menu__timmer .custom-control:not(:last-child) {
  margin-bottom: 8px;
}

.dropdown-menu__timmer .custom-control-label {
  cursor: pointer;
}
